* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(170, 243, 0, 0.657);
  color: yellowgreen;
}

.book-list {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .book-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.book {
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 2rem;
}

.book h1 {
  margin-top: 0.5rem;
}

.book h4 {
  letter-spacing: 5px;
  color: #617d98;
  fontsize: 0.75rem;
  margintop: 0.25rem;
}

.book p {
  margin-top: 0.5rem;
}
